@font-face {
  font-family: SansOneBook;
  src: url("/assets/fonts/FFShamelFamily-SansOneBook.ttf");
}

@font-face {
  font-family: BoldSansOneBook;
  src: url("/assets/fonts/FFShamelFamily-SansOneBook.ttf");
}

$main-color: #b84a85;
$secound-color: #3dbee6;
$font-main: SansOneBook, sans-serif;
$font-blod: BoldSansOneBook, sans-serif;
