@import url("/assets/fonts/FFShamelFamily-SansOneBold.ttf");
@import url("/assets/fonts/FFShamelFamily-SansOneBook.ttf");

$main-color: #b84a85;
$secound-color: #3dbee6;
$font-main: "FFShamelFamily-SansOneBook", sans-serif;
