.jointUs {
  .header .info {
    text-align: start;

    @media (max-width: 767px) {
      text-align: center !important;
    }

    p {
      width: 100%;

      @media (min-width: 767px) {
        width: 75% !important;
      }
    }
  }
}
