@import "./global/variables.scss";
@import "./global/mixins.scss";

.serviceCard {
  border-radius: 6px;
  overflow: hidden;
  position: relative;

  h2,
  p,
  img {
    transition: 0.4s;
  }

  &::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: url("/assets/landing/advantages-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    inset: 0;
    z-index: -1;
    transition: 0.5s;
    opacity: 0;
  }

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #fff;
    inset: 0;
    z-index: -1;
    transition: 0.5s;
  }

  &:hover {
    &::before {
      opacity: 0;
    }

    &::after {
      opacity: 1;
    }

    h2,
    p,
    img {
      color: #fff !important;
      transform: translateY(-8px);
    }
  }
}

.services {
  .header .info {
    text-align: center;

    @media (min-width: 767px) {
      text-align: start !important;
    }

    p {
      width: 100%;

      @media (min-width: 767px) {
        width: 75% !important;
      }
    }
  }

  .main {
    h2 {
      text-align: center;

      @media (min-width: 767px) {
        text-align: start !important;
      }
    }
  }
}

.mainService {
  .header {
    .back {
      font-size: 1rem;
    }

    .linesOfBody {
      @include cutlines(3);
      font-weight: 550;
    }

    .bottomHeader {
      overflow: hidden;
      color: #fff;

      .info {
        text-align: start;
        width: 60%;

        @media (max-width: 767px) {
          text-align: center;
          width: 100% !important;
        }
      }

      &.bgWhite {
        background-color: #fff;
        color: #000;

        .info .linesOfBody {
          --bs-text-opacity: 1;
          color: #6c757d !important;
        }
      }
    }
  }

  .infoContainer {
    @media (max-width: 767px) {
      width: 100% !important;
    }
  }

  .bodyContainer {
    background-color: #fff;

    .marker {
      width: 45px;
    }
  }

  .rowsItems {
    display: grid;
    grid-template-columns: 1fr 1fr;

    @media (max-width: 767px) {
      grid-template-columns: 1fr;
    }
  }

  &.mangeAds {
    .itemsNetFirst {
      margin: 0 !important;
      display: grid;
      grid-template-columns: auto auto;
      grid-gap: 10px;

      & > div {
        margin-top: 5px !important;
        margin-bottom: 5px !important;

        &:last-of-type {
          grid-column: span 2;
          justify-content: flex-start;
        }
      }

      @media (max-width: 767px) {
        grid-template-columns: 1fr;

        & > div {
          justify-content: flex-start;

          &:last-of-type {
            grid-column: unset;
          }
        }
      }
    }

    .itemsNetSecound {
      margin: 0 !important;
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      .item:nth-of-type(-n + 4) {
        grid-column: 1 / 3;
      }

      @media (max-width: 767px) {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
      }
    }

    .itemsRow3 {
      & > div {
        padding: 5px;
        position: relative;
        display: flex;
        align-items: center;

        &::before {
          content: "";
          background-color: #3dbee6;
          width: 20px;
          height: 10px;
          border-radius: 50%;
          display: block;
          margin-left: 7px;
        }
      }
    }

    .NetItems4 {
      & > div {
        margin: 0 !important;
        padding: 10px !important;
      }
    }
  }

  &.design {
    .itemsNetSecound {
      .itemM0 {
        margin: 0 !important;
      }
    }
  }
}
